.register__input {
    width: 358px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    border: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 0 30px;
    padding: 0 0 13px;
    outline: none;
    background-color: black;
    color: white;
}

.register__input::placeholder {
    color: #CCCCCC;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  @media (max-width: 550px) {
    .register__input {
        width: 238px;
    }
  }